.header {
  position: fixed;
  width: 100%;
  background: #000000;
  line-height: 4em;
  height: 4em;
  z-index: 20;
  top: 0px;
  border-bottom: 1px solid #C1872A;;
  display: flex;
  align-items: center;

  @media screen and (max-width: 900px) {
    line-height: 3em;
    height: 3em;
  }

  &__container {
    flex: 1;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


  a {
    color: #C1872A;
    text-decoration: none;
    height: 3em;

    @media screen and (max-width: 900px) {
      height: 2em;
    }

    &:hover {
      color: #9b6c21;;
    }
  }

  &__socials {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    i {
      padding: 0 10px;
    }
  }

  &__empty-block {
    flex: 1;
  }

  &__title {
    flex: 2;
    text-align: center;
    text-transform: capitalize;
    font: normal normal normal 2em didot-w01-italic,serif;
    color: #C1872A;
  }
}
