.hero{
  background: #000000;
  text-align: center;
  color: #FFF;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  width: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  // h1 {
  //   text-transform: uppercase;
  //   font: normal normal normal 3em didot-w01-italic,serif;
  // }

  // &__subheader {
  //   height: 5em;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   font: normal normal normal 24px/1.46em futura-lt-w01-light,sans-serif;
  // }

  &__logo {
    @media screen and (min-width: 901px) {
      height: 33em;
    }

    @media screen and (max-width: 900px) {
      width: 70%;
      // margin-left: auto;
      // margin-right: auto;
    }
  }
}